.verified-icon {
  margin-right: 10px;
}

.car-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.car-info {
  margin-left: 20px;
}

.car-name {
  font-size: 24px;
  font-weight: bold;
}

.seller-info {
  font-size: 16px;
  margin-bottom: 10px;
}

.bid-details {
  margin-bottom: 10px;
}

.bid-details p {
  font-size: 16px;
}

.bid-input {
  margin-bottom: 10px;
}

.bid-input label {
  font-size: 16px;
  font-weight: bold;
}

.bid-input input {
  width: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.bid-input button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
}

.current-winner {
  font-style: sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.delete-post-btn {
  background-color: #f00;
  color: #fff;
  padding: 10px;
  border: 1px solid #f00;
  border-radius: 4px;
}

.car-description {
  font-size: 16px;
}

.social-media-icons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-icons img {
  margin: 20px;
  /* Add space between social media icons */
}